#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
    padding: 1rem;
    margin: 1rem;
}

#app-section{
    border: 2px solid red;
    background-color: rgb(122, 128, 131);
    margin: 1rem;
    padding: 1rem;
}

#main-section{
    border: 2px dotted goldenrod;
    margin: 1rem;
    padding: 1rem;
}

#nav-bar-section{
    border: 2px solid rgb(16, 228, 16);
    margin: 1rem;
    padding: 1rem;
}

#main-header{
    border: 2px solid pink;
    margin: 1rem;
    padding: 1rem;
}

#search-phys-instr{
    border: 2px solid teal;
}

#search-instr-bar{
    border: 2px solid rgb(255, 67, 98);
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
}

/* PHYSICAL INSTRUMENTS */

#main-phys-instr-container{
    display: flex;
    justify-content: space-around;
}

#all-phys-instr-gallery{
    border: 4px dashed rgb(255, 56, 165);
    display: flex;
    flex-wrap: wrap;
}

#phys-instr-header{
    border: 4px dotted rgb(255, 56, 165);
}

#phys-instr-card{
    border: 2px solid rgb(249, 151, 205);
    margin: 1rem;
    padding: 1rem;
}

#phys-instr-card-details{
    border: 2px dotted rgb(142, 52, 101);
    margin: 1rem;
    padding: 1rem;
}

/* VIRTUAL INSTRUMENTS */
#all-VST-instr-gallery{
    border: 4px dashed rgb(255, 56, 165);
}

#VST-instr-header{
    border: 4px dotted rgb(255, 56, 165);
}

#VST-instr-card{
    border: 2px solid rgb(249, 151, 205);
    margin: 1rem;
    padding: 1rem;
}

/* GENRES */
#all-genre-instr-gallery{
    border: 4px dashed rgb(255, 56, 165);
}

#genre-instr-header{
    border: 4px dotted rgb(255, 56, 165);
}

#genre-instr-card{
    border: 2px solid rgb(249, 151, 205);
    margin: 1rem;
    padding: 1rem;
}